.block {
    flex: 1;
}
.line {
    display: flex;
    flex: 1;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.grid {
    display:flex;
    width: 420px;
    height: 420px;
    flex-direction: column;
    border: 1px solid black;
}

.gridspace {
    height: auto;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-style: italic;
    font-family: "Courier New";
    margin-top: 48px;
    border-bottom: 4px dashed gray;
}

.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-right: 24px;
}

#rainbow {
    background-color:  #aa34bf;
    color: white;
    border: 1px solid  black;
    border-radius: 10px;
}

.settings > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
html {
    background-color: aliceblue;
}